In [1]:
import pandas as pd

In [2]:
import glob

In [3]:
path = 'data/'

In [4]:
all_files = glob.glob(path + "/*.csv")

In [5]:
li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [8]:
New_df = frame[frame['Order Date'].notna()]

In [9]:
New_df.isna().sum() # NO more NaN

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [10]:
New_df['Length OD'] = New_df['Order Date'].str.len()

/var/folders/xn/r9xc8p3151s4yw6tpl5_31mm0000gn/T/ipykernel_77840/3956029054.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  New_df['Length OD'] = New_df['Order Date'].str.len()

In [11]:
import numpy as np

In [12]:
New_df['Length OD'].value_counts() # We should have a length of 14

14    185950
10       355
Name: Length OD, dtype: int64

In [13]:
DF_fixed = New_df[New_df['Order ID'] != 'Order ID'] # Remove rows where Order ID is Order ID

In [14]:
DF_fixed['Length OD'].value_counts() # Standard Order Date

14    185950
Name: Length OD, dtype: int64

In [86]:
DF_fixed['Order Date'] = pd.to_datetime(DF_fixed['Order Date'])

/var/folders/xn/r9xc8p3151s4yw6tpl5_31mm0000gn/T/ipykernel_77840/646699143.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_fixed['Order Date'] = pd.to_datetime(DF_fixed['Order Date'])

In [87]:
DF_fixed['Year'] = pd.DatetimeIndex(DF_fixed['Order Date']).year #Get the year from the Order Date

/var/folders/xn/r9xc8p3151s4yw6tpl5_31mm0000gn/T/ipykernel_77840/1775407774.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_fixed['Year'] = pd.DatetimeIndex(DF_fixed['Order Date']).year #Get the year from the Order Date

In [88]:
DF_fixed.Year.value_counts()

2019    185916
2020        34
Name: Year, dtype: int64

In [18]:
# Eliminamos las de 2020?
# Eliminar columna de length

In [19]:
# Since we will just check 2019, let's remove the data from 2020

In [89]:
df2019 = DF_fixed[DF_fixed['Year']!=2020] #Removing data from 2020.

In [90]:
df2019['Year'].unique() # Now data for 2019 only.

array([2019])

In [91]:
df2019.columns #Previously removed Length OD column.

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address', 'Length OD', 'Year'],
      dtype='object')

In [92]:
# Remove Year's column since every order is from 2019 now.

In [93]:
df2019.drop(columns={'Year'}, inplace = True)

/opt/miniconda3/envs/minimal_ds/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

## Parse Location

In [94]:
df2019

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Length OD
0,295665,Macbook Pro Laptop,1,1700,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",14
1,295666,LG Washing Machine,1,600.0,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",14
2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",14
3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",14
4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",14
...,...,...,...,...,...,...,...
186845,222905,AAA Batteries (4-pack),1,2.99,2019-06-07 19:02:00,"795 Pine St, Boston, MA 02215",14
186846,222906,27in FHD Monitor,1,149.99,2019-06-01 19:29:00,"495 North St, New York City, NY 10001",14
186847,222907,USB-C Charging Cable,1,11.95,2019-06-22 18:57:00,"319 Ridge St, San Francisco, CA 94016",14
186848,222908,USB-C Charging Cable,1,11.95,2019-06-26 18:35:00,"916 Main St, San Francisco, CA 94016",14
186849,222909,AAA Batteries (4-pack),1,2.99,2019-06-25 14:33:00,"209 11th St, Atlanta, GA 30301",14

In [95]:
df2019[['Street', 'City', 'State']] = df2019['Purchase Address'].str.split(',', expand = True)

/opt/miniconda3/envs/minimal_ds/lib/python3.9/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [96]:
locations

0         [136 Church St,  New York City,  NY 10001]
1            [562 2nd St,  New York City,  NY 10001]
2           [277 Main St,  New York City,  NY 10001]
3            [410 6th St,  San Francisco,  CA 94016]
4                  [43 Hill St,  Atlanta,  GA 30301]
                             ...
186845             [795 Pine St,  Boston,  MA 02215]
186846     [495 North St,  New York City,  NY 10001]
186847     [319 Ridge St,  San Francisco,  CA 94016]
186848      [916 Main St,  San Francisco,  CA 94016]
186849            [209 11th St,  Atlanta,  GA 30301]
Name: Purchase Address, Length: 185916, dtype: object

In [97]:
df2019['State'] = df2019['State'].str.split().str[0] # Don't need the ZIP Code

/var/folders/xn/r9xc8p3151s4yw6tpl5_31mm0000gn/T/ipykernel_77840/3823037672.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2019['State'] = df2019['State'].str.split().str[0] # Don't need the ZIP Code

In [98]:
df2019['Zip Code'] = df2019['Purchase Address'].str.split().str[-1]

/var/folders/xn/r9xc8p3151s4yw6tpl5_31mm0000gn/T/ipykernel_77840/2310911736.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2019['Zip Code'] = df2019['Purchase Address'].str.split().str[-1]

In [99]:
df2019.drop(columns={'Purchase Address'}, inplace = True)

/opt/miniconda3/envs/minimal_ds/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

## Add total order price

In [100]:
df2019['Quantity Ordered'] = df2019['Quantity Ordered'].astype(int)

/var/folders/xn/r9xc8p3151s4yw6tpl5_31mm0000gn/T/ipykernel_77840/3066664179.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2019['Quantity Ordered'] = df2019['Quantity Ordered'].astype(int)

In [101]:
df2019['Price Each'] = df2019['Price Each'].astype(float)

/var/folders/xn/r9xc8p3151s4yw6tpl5_31mm0000gn/T/ipykernel_77840/38636998.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2019['Price Each'] = df2019['Price Each'].astype(float)

In [102]:
df2019['Order Price'] = df2019['Quantity Ordered'] * df2019['Price Each']

/var/folders/xn/r9xc8p3151s4yw6tpl5_31mm0000gn/T/ipykernel_77840/192534535.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2019['Order Price'] = df2019['Quantity Ordered'] * df2019['Price Each']

In [103]:
df2019.to_csv('')

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Length OD,Street,City,State,Zip Code,Order Price
0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,14,136 Church St,New York City,NY,10001,1700.00
1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,14,562 2nd St,New York City,NY,10001,600.00
2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,14,277 Main St,New York City,NY,10001,11.95
3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,14,410 6th St,San Francisco,CA,94016,149.99
4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,14,43 Hill St,Atlanta,GA,30301,11.95
...,...,...,...,...,...,...,...,...,...,...,...
186845,222905,AAA Batteries (4-pack),1,2.99,2019-06-07 19:02:00,14,795 Pine St,Boston,MA,02215,2.99
186846,222906,27in FHD Monitor,1,149.99,2019-06-01 19:29:00,14,495 North St,New York City,NY,10001,149.99
186847,222907,USB-C Charging Cable,1,11.95,2019-06-22 18:57:00,14,319 Ridge St,San Francisco,CA,94016,11.95
186848,222908,USB-C Charging Cable,1,11.95,2019-06-26 18:35:00,14,916 Main St,San Francisco,CA,94016,11.95
186849,222909,AAA Batteries (4-pack),1,2.99,2019-06-25 14:33:00,14,209 11th St,Atlanta,GA,30301,2.99