In [1]:
import pandas as pd

In [2]:
import glob

In [3]:
path = 'data/'

In [4]:
all_files = glob.glob(path + "/*.csv")

In [5]:
li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [8]:
New_df = frame[frame['Order Date'].notna()]

In [9]:
New_df.isna().sum() # NO more NaN

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [10]:
New_df['Length OD'] = New_df['Order Date'].str.len()

/var/folders/xn/r9xc8p3151s4yw6tpl5_31mm0000gn/T/ipykernel_77840/3956029054.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  New_df['Length OD'] = New_df['Order Date'].str.len()

In [11]:
import numpy as np

In [12]:
New_df['Length OD'].value_counts() # We should have a length of 14

14    185950
10       355
Name: Length OD, dtype: int64

In [13]:
DF_fixed = New_df[New_df['Order ID'] != 'Order ID'] # Remove rows where Order ID is Order ID

In [14]:
DF_fixed['Length OD'].value_counts() # Standard Order Date

14    185950
Name: Length OD, dtype: int64

In [86]:
DF_fixed['Order Date'] = pd.to_datetime(DF_fixed['Order Date'])

/var/folders/xn/r9xc8p3151s4yw6tpl5_31mm0000gn/T/ipykernel_77840/646699143.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_fixed['Order Date'] = pd.to_datetime(DF_fixed['Order Date'])

In [87]:
DF_fixed['Year'] = pd.DatetimeIndex(DF_fixed['Order Date']).year #Get the year from the Order Date

/var/folders/xn/r9xc8p3151s4yw6tpl5_31mm0000gn/T/ipykernel_77840/1775407774.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_fixed['Year'] = pd.DatetimeIndex(DF_fixed['Order Date']).year #Get the year from the Order Date

In [88]:
DF_fixed.Year.value_counts()

2019    185916
2020        34
Name: Year, dtype: int64

In [18]:
# Eliminamos las de 2020?
# Eliminar columna de length

In [19]:
# Since we will just check 2019, let's remove the data from 2020

In [20]:
df2019 = DF_fixed[DF_fixed['Year']!=2020] #Removing data from 2020.

In [22]:
df2019['Year'].unique() # Now data for 2019 only.

array([2019])

In [26]:
df2019.columns #Previously removed Length OD column.

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address', 'Year'],
      dtype='object')

In [28]:
# Remove Year's column since every order is from 2019 now.

In [29]:
df2019.drop(columns={'Year'}, inplace = True)

/opt/miniconda3/envs/minimal_ds/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

## Parse Location

In [32]:
df2019

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...
186845,222905,AAA Batteries (4-pack),1,2.99,06/07/19 19:02,"795 Pine St, Boston, MA 02215"
186846,222906,27in FHD Monitor,1,149.99,06/01/19 19:29,"495 North St, New York City, NY 10001"
186847,222907,USB-C Charging Cable,1,11.95,06/22/19 18:57,"319 Ridge St, San Francisco, CA 94016"
186848,222908,USB-C Charging Cable,1,11.95,06/26/19 18:35,"916 Main St, San Francisco, CA 94016"
186849,222909,AAA Batteries (4-pack),1,2.99,06/25/19 14:33,"209 11th St, Atlanta, GA 30301"

In [50]:
df2019[['Street', 'City', 'State']] = df2019['Purchase Address'].str.split(',', expand = True)

/opt/miniconda3/envs/minimal_ds/lib/python3.9/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [48]:
locations

0         [136 Church St,  New York City,  NY 10001]
1            [562 2nd St,  New York City,  NY 10001]
2           [277 Main St,  New York City,  NY 10001]
3            [410 6th St,  San Francisco,  CA 94016]
4                  [43 Hill St,  Atlanta,  GA 30301]
                             ...
186845             [795 Pine St,  Boston,  MA 02215]
186846     [495 North St,  New York City,  NY 10001]
186847     [319 Ridge St,  San Francisco,  CA 94016]
186848      [916 Main St,  San Francisco,  CA 94016]
186849            [209 11th St,  Atlanta,  GA 30301]
Name: Purchase Address, Length: 185916, dtype: object

In [56]:
df2019['State'] = df2019['State'].str.split().str[0] # Don't need the ZIP Code

/var/folders/xn/r9xc8p3151s4yw6tpl5_31mm0000gn/T/ipykernel_77840/3823037672.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2019['State'] = df2019['State'].str.split().str[0] # Don't need the ZIP Code

In [57]:
df2019['Zip Code'] = df2019['Purchase Address'].str.split().str[-1]

/var/folders/xn/r9xc8p3151s4yw6tpl5_31mm0000gn/T/ipykernel_77840/2310911736.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2019['Zip Code'] = df2019['Purchase Address'].str.split().str[-1]

In [ ]:
df2019.drop(columns={'Purchase Address'}, inplace = True)

## Add total order price

In [77]:
df2019['Quantity Ordered'] = df2019['Quantity Ordered'].astype(int)

/var/folders/xn/r9xc8p3151s4yw6tpl5_31mm0000gn/T/ipykernel_77840/3066664179.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2019['Quantity Ordered'] = df2019['Quantity Ordered'].astype(int)

In [78]:
df2019['Price Each'] = df2019['Price Each'].astype(float)

/var/folders/xn/r9xc8p3151s4yw6tpl5_31mm0000gn/T/ipykernel_77840/38636998.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2019['Price Each'] = df2019['Price Each'].astype(float)

In [81]:
df2019['Order Price'] = df2019['Quantity Ordered'] * df2019['Price Each']

/var/folders/xn/r9xc8p3151s4yw6tpl5_31mm0000gn/T/ipykernel_77840/192534535.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2019['Order Price'] = df2019['Quantity Ordered'] * df2019['Price Each']

## Orders per State

In [84]:
df2019.State.value_counts()

CA    74324
NY    24866
TX    24721
MA    19930
GA    14881
WA    14731
OR    10008
ME     2455
Name: State, dtype: int64

In [85]:
df2019

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Street,City,State,Zip Code,Order Price
0,295665,Macbook Pro Laptop,1,1700.00,12/30/19 00:01,136 Church St,New York City,NY,10001,1700.00
1,295666,LG Washing Machine,1,600.00,12/29/19 07:03,562 2nd St,New York City,NY,10001,600.00
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,277 Main St,New York City,NY,10001,11.95
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,410 6th St,San Francisco,CA,94016,149.99
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,43 Hill St,Atlanta,GA,30301,11.95
...,...,...,...,...,...,...,...,...,...,...
186845,222905,AAA Batteries (4-pack),1,2.99,06/07/19 19:02,795 Pine St,Boston,MA,02215,2.99
186846,222906,27in FHD Monitor,1,149.99,06/01/19 19:29,495 North St,New York City,NY,10001,149.99
186847,222907,USB-C Charging Cable,1,11.95,06/22/19 18:57,319 Ridge St,San Francisco,CA,94016,11.95
186848,222908,USB-C Charging Cable,1,11.95,06/26/19 18:35,916 Main St,San Francisco,CA,94016,11.95
186849,222909,AAA Batteries (4-pack),1,2.99,06/25/19 14:33,209 11th St,Atlanta,GA,30301,2.99